$main : #131518;
$text: #99805f;
@font-face {
    font-family: 'Ditto';
    src: url("/assets/fonts/Didot.ttf");
}
html,
body {
    margin: 0;
    padding: 0;
    width:100%;
    background: $main;
    font-family: Ditto;
    font-weight: normal;
    color: $text;
}
::selection {
    background: #e79393;
}
.head{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100vh;
    background-image: url('/assets/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.85);

    .main-nav{
        padding: 3em 5em;
        font-size: 1.2em;

        .logo{
            display: inline;
            margin: 1em;
            font-weight: 400;
        }

        ul{
            float: right;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            float: left;
            margin-left: 1.5em;
            text-transform: uppercase;
        }
        
        a{
            color: $text;
            text-decoration: none;
        }
    }

    .hero{
        grid-row: 2/3;
        text-align: center;
        text-transform: uppercase;
        color: #c1a279;
        h1{
            font-size: 4em;
            font-weight: normal;
            margin-bottom: 0;
        }
        h5{
            font-size: 2em;
            font-weight: normal;
            letter-spacing: 1px;
            margin-top: 0;
        }
    }
}

.about{
    text-align: center;
    padding: 5em 26em;
    position: relative;
    h1{
        font-weight: normal;
        font-size: 3em;
        text-transform: uppercase;
    }
    p{
        font-size: 1.5em;
        span{
            font-weight: bold;
        }
    }
    &:before{
        position: absolute;
        left: 0;
        top: 100px;
        content: url(/assets/img/left-art.png)
    }
    &:after{
        position: absolute;
        right: 0;
        top: 0;
        content: url(/assets/img/right-art.png)
    }
}